.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.cartItem {
    width: 90%;
    min-width: 500px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.itemWrapper {
    display: flex;
    align-items: center;
}

.itemWrapper>* {
    margin: 10px;
}

.itemImage {
    height: 100px;
    width: 100px;
}

.itemImage img {
    max-height: 100%;
    max-width: 100%;
}

.itemTitle {
    color: darkblue;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.itemPrice {
    font-size: 1.2rem;
}

.itemDelete {
    display: flex;
    padding-right: 20px;
    font-size: 2rem;
}

.itemDelete i {
    font-size: 1.5rem;
    color: rgb(70, 68, 68);
}

.totalAmount{
    padding: 20px 0px;
    width: 90%;
    text-align: right;
    font-size: 1.5rem;
}

.checkout{
    color: white;
    font-size: 1.1rem;
    background-color: rgb(247, 140, 0);
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all .25s ease;
}

.checkout:active{
    transform: scale(.98);
}